<div class="nav-left-sidebar sidebar-dark">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-divider">
            Menu
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/admin">
              <i class="fa fa-fw fa-chart-line"></i>
              Dashboard
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#admin-posts"
              aria-controls="admin-posts"><i class="fa fa-fw fa-rocket"></i>Posts</a>
            <div id="admin-posts" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="/admin/posts">Posts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/posts/create">Create Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/posts/generate">Generate Dummy Posts</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/categories">
              <i class="fa fa-fw fa-folder"></i>
              Categories
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
